*{
    box-sizing: border-box;
    font-family: 'HS유지체', Times, serif;
}

body{
    background-color: rgb(226, 209, 183);
    margin: 0;
    /* 드래그방지 */
    -ms-user-select: none; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.F{
    width: 100%;
}

/*눌렀을 때*/
.F:focus{
    outline: 0;
}

/*마우스를 올렸을 때*/
.F:hover{
    /*마우스 누름 버튼모양으로*/
    cursor: pointer;
}

.F1{
    position: absolute;
    width: 25%;
    margin-top: 100px;
    bottom: 0;
}

.F2{
    position: absolute;
    position: fixed;
    width: 15%;
    bottom: 30%;
    left: 100px
}

.F3{
    position: absolute;
    position: fixed;
    width: 18%;
    bottom: 15%;
    left: 100px;
    background-color: rgb(221, 192, 136);
    padding: 20px;
    border-radius:20px;
}
.main_box{
    position: absolute;
    border-radius:60px;
    padding: 1% 3%;
    text-align: center;
    color: rgb(124,68,7);
    background-color: rgb(221, 192, 136);
    width: 1100px;
    height: 450px;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 18%;
    z-index: -1;
}

.box4{
    position: absolute;
    border-radius:30px;
    color: rgb(124,68,7);
    background-color: rgb(221, 192, 136);
    width: 1100px;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 18%;
    margin-left: 9%;
}

h1{
    line-height: 110%;
    margin: 3%;
    font-size: 50px;
}

p{
    line-height: 130%;
    padding: 0 10%;
    font-size: 32px;
    font-weight: lighter;
}

.p4{
    font-size: 20px;
    padding: 2% 3%;
    margin: 3%;
    background-color: rgb(232, 210, 173);
    border-radius: 30px;
}

.p5{
    position: absolute;
    border-radius:30px;
    font-size: 20px;
    width: 1000px;
    padding: 2% 3%;
    color: rgb(124,68,7);
    background-color: rgb(235, 222, 205);
    border-radius: 30px;
    z-index: -1;
    left: 30%;
    margin-top: 18%;    
}

.head{
    position: absolute;
    position: fixed;
    color: rgb(130,66,5);
    font-size: 30px;
    background-color: rgb(206, 170, 112);
    border-radius: 10px;
    padding: 15px;
    bottom: 19%;
    left: 70px;
    line-height: 110%;
}

.head5{
    position: absolute;
    position: fixed;
    color: rgb(130,66,5);
    background-color: rgb(206, 170, 112);
    border-radius: 10px;
    left: 95px;
    line-height: 110%;
    font-size: 25px;
    padding: 10px 50px;
    bottom: 50%;
}

.menu{
    font-size: 25px;
    width:20%;
    height: 80px;
    background-color: rgb(206, 61, 44);
    color: rgb(250, 250, 250);
    /*모서리 둥글게*/
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    
}
.menu:hover{
    background-color: rgb(161, 33, 19);
    color: rgb(250, 250, 250);
}

/* .menu:active+.menu:checked{
    background-color: rgb(161, 33, 19);
} 이거 아님*/

.button_{
    position: relative;
    /* border: 1px solid black; */
    line-height: 0;
    font-size: 0;
    position: fixed;
    z-index: 1;
}

button{
    /* x축 y축 블러값 */
    font-size: 19px;
    border: none;
    /*부드럽게 변환*/
    transition: 0.3s;
}

/*눌렀을 때*/
button:focus{
    outline: 0;
}

/*마우스를 올렸을 때*/
button:hover{
    /*마우스 누름 버튼모양으로*/
    cursor: pointer;
}

.Z{
    position: absolute;
    margin: 0;
    height: 3%;
}