*{
    box-sizing: border-box;
    font-family: 'HS유지체', Times, serif;
}

body{
    background-color: rgb(226, 209, 183);
    margin: 0;
    /* 드래그방지 */
    -ms-user-select: none; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.F{
    width: 100%;
}

/*눌렀을 때*/
.F:focus{
    outline: 0;
}

/*마우스를 올렸을 때*/
.F:hover{
    /*마우스 누름 버튼모양으로*/
    cursor: pointer;
}

.F1{
    position: absolute;
    width: 25%;
    margin-top: 100px;
    bottom: 0;
}

.main_box{
    position: absolute;
    border-radius:60px;
    padding: 1% 3%;
    text-align: center;
    color: rgb(124,68,7);
    background-color: rgb(221, 192, 136);
    width: 1100px;
    height: 450px;
    transform: translate(-50%, 0%);
    left: 50%;
    margin-top: 18%;
}

h1{
    line-height: 110%;
    margin: 3%;
    font-size: 50px;
}

p{
    line-height: 130%;
    padding: 0 10%;
    font-size: 30px;
    font-weight: lighter;
}

.menu{
    font-size: 25px;
    width:20%;
    height: 80px;
    background-color: rgb(206, 61, 44);
    color: rgb(250, 250, 250);
    /*모서리 둥글게*/
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    
}
.menu:hover{
    background-color: rgb(161, 33, 19);
    color: rgb(250, 250, 250);
}

.button_{
    position: relative;
    /* border: 1px solid black; */
    line-height: 0;
    font-size: 0;
    position: fixed;
    /* display: flex; */
}

button{
    /* x축 y축 블러값 */
    font-size: 19px;
    border: none;
    /*부드럽게 변환*/
    transition: 0.3s;
}

/*눌렀을 때*/
button:focus{
    outline: 0;
}

/*마우스를 올렸을 때*/
button:hover{
    /*마우스 누름 버튼모양으로*/
    cursor: pointer;
}